---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: hadoop-gateway
  namespace: traefik
spec:
  from:
  - group: "gateway.networking.k8s.io"
    kind: HTTPRoute
    namespace: hadoop
  to: 
  - group: "gateway.networking.k8s.io"
    kind: Gateway

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: namenode-http
  namespace: hadoop
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
      kind: Gateway
  hostnames:
    - namenode.hdfs.localhost
  rules:
     - matches:
        - path:
            type: PathPrefix
            value: /
       backendRefs:
        - name: namenode
          namespace: hadoop
          port: 9870
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: datanode-http
  namespace: hadoop
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
      kind: Gateway
  hostnames:
    - datanode.hdfs.localhost
  rules:
     - matches:
        - path:
            type: PathPrefix
            value: /
       backendRefs:
        - name: datanode
          namespace: hadoop
          port: 9864
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: resourcemanager-http
  namespace: hadoop
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
      kind: Gateway
  hostnames:
    - resourcemanager.hdfs.localhost
  rules:
     - matches:
        - path:
            type: PathPrefix
            value: /
       backendRefs:
        - name: yarn
          namespace: hadoop
          port: 8088
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: nodemanager-http
  namespace: hadoop
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
      kind: Gateway
  hostnames:
    - nodemanager.hdfs.localhost
  rules:
     - matches:
        - path:
            type: PathPrefix
            value: /
       backendRefs:
        - name: yarn
          namespace: hadoop
          port: 8042
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: historyserver-http
  namespace: hadoop
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: traefik
      sectionName: websecure
      kind: Gateway
  hostnames:
    - historyserver.hdfs.localhost
  rules:
     - matches:
        - path:
            type: PathPrefix
            value: /
       backendRefs:
        - name: yarn
          namespace: hadoop
          port: 8188