apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgis-pv
  namespace: postgis
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: postgis
    name: postgis-pvc
  persistentVolumeReclaimPolicy: Retain
  storageClassName: hostpath
  hostPath:
    path: /run/desktop/mnt/host/d/db/postgis
    type: Directory